<div class="row">
  <div class="col-12 mt-2">
    <h2>User List</h2>

    <div class="card">
      <div class="card-header">
          <h6 class="card-title ">Filter by name</h6>
          <div class="d-flex p-2 mb-2">
              <input  [(ngModel)]="filterPhrase"
                      class="form-control"
                      type="text"
                      placeholder="Search..."
                      style="width: 400px;">
          </div>
      </div>
    </div>

    <button type="button" class="btn btn-success btn-block my-4" routerLink="/user/0">
      <i class="fa fa-user" aria-hidden="true"></i> Create new User
    </button>

    <table class="table table-striped">
      <thead>
        <tr>
          <th id="header_id" class="table__header table__header--active" (click)="setSorter('id')">#</th>
          <th id="header_name" class="table__header" (click)="setSorter('name')">Name</th>
          <th id="header_email" class="table__header" (click)="setSorter('email')">Email</th>
          <th id="header_address" class="table__header" (click)="setSorter('address')">Address</th>
          <th id="header_active" class="table__header" (click)="setSorter('active')">Active</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users$ | async | filter:filterPhrase:filterKey | sorter:sortby">
          <td>{{ user.id }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.address }}</td>
          <td>{{ user.active }}</td>
          <td>
            <div class="btn-group">
              <button [routerLink]="['user/' + user.id]" class="btn btn-info">
                <i class="fa fa-pencil"></i>
              </button>
              <button class="btn btn-danger"(click)="setToDelete(user)" rel="tooltip" title="Remove this User" data-toggle="modal" data-target="#deleteModal">
                <i class="fa fa-trash"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>



<div id="deleteModal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirm delete</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure to delete this User?</p>
        <p>#{{selectedItemToDelete.id}}</p>
      </div>
      <div class="modal-footer">
        <button (click)="deleteItem()"  type="button" class="btn btn-danger" data-dismiss="modal">Yes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>
